:root {
  --nav-h: 84px;
}

@media (max-width: 1024px) {
  :root {
    --nav-h: 60px;
  }
}
@media (max-width: 768px) {
  :root {
    --nav-h: 5.5rem;
  }
}

.app {
  min-height: 100vh;
  background-color: var(--color-primary-white);
}
